

<!DOCTYPE html>
<html>

<th:block th:if="${session.MENU_LIST}">
	<div th:if ="${session.testList !=null}" th:each="testList : {session.testList}">
		<div th:text="${testList.name}"></div>
	</div>
</th:block>

	


<th:block th:if="${session.MENU_LIST}" th:each="menuDepth1 : ${session.MENU_LIST}">
    <th:block th:if="${menuDepth1.menuLevel == 1}">
        <div class="gnb-item" data="bgColor1">
            <span class="item" th:text="${menuDepth1.menuName}"></span>
            <div class="gnb-depth">
                <div class="depth-inner">
                    <th:block th:each="menuDepth2 : ${menuDepth1.subMenuList}">
                        <th:block th:if="${menuDepth2.subMenuList == null}">
                            <div class="depth">
                                <a class="title" th:text="${menuDepth2.menuName}" th:href="'/' + ${menuDepth2.programPath}"></a>
                            </div>
                        </th:block>
                        <th:block th:if="${menuDepth2.subMenuList != null}">
                            <div class="depth">
                                <span class="title" th:text="${menuDepth2.menuName}"></span>

                                <div class="list" th:each="menuDepth3 : ${menuDepth2.subMenuList}">
                                    <a class="link" th:text="${menuDepth3.menuName}" th:href="'/' + ${menuDepth3.programPath}"></a>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

</html>